
.logo {
  text-align: center;
}



.logo>img {
  width: min(90%, 200px);
  fill:red !important;
  margin: 0 auto;
  display: inline-block;
}
.logo {
  text-align: center;
}








.toggle-switch {
  width: 60px;
  height: 30px;
  background-color: #ccc;
  border-radius: 15px;
  margin-bottom: 100px;
  position: relative;
  cursor: pointer;

  transition: background-color 0.25s ease-in-out;
}


.toggle-switch-inner {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  transition: left 0.3s;
  left: 5px;
}

.active-inner {
  left: calc(100% - 25px);
}